body {
  background-color: #00FFFF;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FFFF00;
   color: #FFFF00;
}

body {
  background-image: url('html_images/bk.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #FF0000;
  font-family: Impact;
  font-size: 200%;
}
p {
  color: #FF0000;
  font-family: Impact;
  font-size: 100%%;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;

}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  opacity: 0.95;
  transition: 0.3s;
  display: inline-block;
}

.link {
  padding: 20px;
  font-size: 19px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  opacity: 0.95;
  transition: 0.3s;
  display: inline-block;
}

.link2 {
  padding: 20px;
  font-size: 19px;
  width: 275px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  opacity: 0.95;
  transition: 0.3s;
  display: inline-block;
}

.link3 {
  padding: 20px;
  font-size: 19px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  opacity: 0.95;
  transition: 0.3s;
  display: inline-block;
}

.fa:hover {
  background-color: #00FFFF;
  color: white;
  opacity: 1;
}

.link:hover {
  background-color: #FF0000;
  color: white;
  opacity: 1;
}

.link2:hover {
  background-color: #FF0000;
  color: white;
  opacity: 1;
}

.link3:hover {
  background-color: #FF0000;
  color: white;
  opacity: 1;
}

.fa-facebook {
 background: #3B5998;
 color: white;
}

.fa-twitter {
 background: #55ACEE;
 color: white;
}

.fa-youtube {
background: #FF0000;
color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.btn {
 border: none;
 color: white;
 padding: 14px 28px;
 cursor: pointer;
}

.jailbreak {background-color: #FFFFFF;
  border-radius: 12px;
  color: Black;
}

.github {background: #FFFFFF;
  border-radius: 12px;
  color: Black;
}

.coconut {background: #FFFFFF;
  border-radius: 12px;
  color: Black;
}
