body {
  /* background-color: #87CEEB; */
  background: rgb(162,235,239);
  background: radial-gradient(circle, rgba(162,235,239,1) 0%, rgba(148,187,233,1) 100%); 
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
  font-family: Arial;
  font-size: 110px;
  color: #FFFFFF;
}

p {
  font-family: Arial;
  font-size: 25px;
  color: #FFFFFF;
  line-height: 0px;
  margin-top:-65px;
}

.link {
  padding: 20px;
  font-size: 19px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 2px;
  opacity: 0.95;
  transition: 0.3s;
  display: inline-block;
}

.link:hover {
  background-color: #FFFFFF;
  color: #4682B4;
  font-family: Arial;
  opacity: 1;
}

.github {background: #4682B4;
  border-radius: 12px;
  color: White;
  font-family: Arial;
}
