body {
  background-color: black;
}
h1 {
  color: chartreuse;
  font-family: monospace;
  font-size: 300%;
  text-align: center;
}
p {
  color: chartreuse;
  font-family: monospace;
  text-align: center;
}
