@font-face {
 font-family: customfonts;
 src: url(transamerica.ttf);
 font-weight: normal;
}

@font-face {
 font-family: snesfonts;
 src: url(SNES.ttf);
 font-weight: normal;
}

body {
  background-color: Black;
}
h1 {
  color: Blue;
  font-family: customfonts;
  font-size: 300%;
  text-align: center;
}
p {
  color: DarkGrey;
  font-family: customfonts;
  font-size: 200%;
  text-align: center;
}

.fa {
 padding: 20px;
 font-size: 30px;
 width: 50px;
 text-align: center;
 text-decoration: none;
}

.snes {background-color: DarkGrey;
  color: Crimson;
  font-family: snesfonts;
}

.legality {background-color: DarkGrey;
  color: Blue;
  font-family: customfonts;
}
