@font-face {
 font-family: customfonts;
 src: url(transamerica.ttf);
 font-weight: normal;
}

body {
  background-color: Black;
}
h1 {
  color: Blue;
  font-family: customfonts;
  font-size: 300%;
  text-align: center;
}
p {
  color: DarkGrey;
  font-family: customfonts;
  font-size: 200%;
  text-align: center;
}
